nav.circular-menu
  input#circular-menu.circular-menu__button(type='checkbox' href='javascript: void 0' checked)
  label.circular-menu__icon(for='circular-menu')
    .hamburger.hamburger-bar
    .hamburger.hamburger-bar
    .hamburger.hamburger-bar
  a.circular-menu__item(href='#'): i.fa.fa-home
  a.circular-menu__item(href='#'): i.fa.fa-group
  a.circular-menu__item(href='#'): i.fa.fa-user-circle
  a.circular-menu__item(href='#'): i.fa.fa-area-chart
  a.circular-menu__item(href='#'): i.fa.fa-code
