body {
  background-color: #FFFFFF;
}
.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color:hsl(240, 100%, 54%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(300, 100%, 75%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;  
}

.circular-menu.active .floating-btn i {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: hsl(277, 100%, 91%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.circular-menu.active:after {
  -webkit-transform: scale3d(5.5, 5.5, 1);
          transform: scale3d(5.5, 5.5, 1);
  -webkit-transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
          transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(300, 100%, 75%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsl(240, 100%, 54%);
  -webkit-transition: background .2s ease, -webkit-transform .3s ease;
  transition: background .2s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, background .2s ease;
  transition: transform .3s ease, background .2s ease, -webkit-transform .3s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(273,100%,27%,1);
  color:hsla(360,100%,47%,1);
}

.circular-menu.active .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  -webkit-transform: translate3d(1em,-7em,0);
          transform: translate3d(1em,-7em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  -webkit-transform: translate3d(-2.2em,-6.6em,0);
          transform: translate3d(-2.2em,-6.6em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  -webkit-transform: translate3d(-6.6em,-2.2em,0);
          transform: translate3d(-6.6em,-2.2em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  -webkit-transform: translate3d(-7em,1em,0);
          transform: translate3d(-7em,1em,0);
}
.circular-menu.active .menu-item:nth-child(5) {
  -webkit-transform: translate3d(-5em,-5em,0);
          transform: translate3d(-5em,-5em,0);
}

/**
 * The other theme for this menu
 */

.circular-menu.circular-menu-left {
  right: auto; 
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left:after {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left.active .floating-btn i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  -webkit-transform: translate3d(-1em,-7em,0);
          transform: translate3d(-1em,-7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  -webkit-transform: translate3d(3.5em,-6.3em,0);
          transform: translate3d(3.5em,-6.3em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  -webkit-transform: translate3d(6.5em,-3.2em,0);
          transform: translate3d(6.5em,-3.2em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  -webkit-transform: translate3d(7em,1em,0);
          transform: translate3d(7em,1em,0);
}